{%extends 'instapic/base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}
{{block.super}}
<div class="container">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
{% for post in posts%}

<div class="container">
<a href="profile/{{post.user.id}}">
<div class="card">
  <div class="card card-title row"> 
  <img src="{{post.user.profile.photo.url}}" alt="" height="auto" width="50" class="col-md-1" id="profile">
<p class="col-md-6" id='name'>{{post.user.username}}</p>
</div>
</a>
</div>
<div class="container">
<div class='card card-body'>
<a href="/post/{{post.id}}"> <img src="{{post.image.url}}" alt="" id="post" ></a>
</div>
<div class="panel panel-footer">
<a href="/like_home/{{post.id}}"><button><i class="glyphicon glyphicon-heart glyphicon-lg"></i></button></a>

<span><p><strong> {{post.user.username}}</strong></span><span> {% autoescape on %}{{post.caption|safe}} {% endautoescape %}</span></p>
</div>
</div>

</div>

</div>

{%endfor%}
<div class="container" style="background-color:#807E83;background-repeat:no-repeat;background-size: cover;">
{% if following|length == 0%}
 <h1 style="text-align:center;font-family: 'Kaushan Script', cursive;color: black;">Welcome To</h1>
 {%endif%}
</div>
{% endblock %}


