{%extends 'instapic/base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}

 {% block content %}

 <div class="container" style="background-color:#807E83; display: block;margin-left: auto;margin-right: auto;width: 50%; ">

   <div class="row">
     
     <img src="{{post.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1  class="panel-heading">{{post.name}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}
     {{post.caption| safe}}
    {% endautoescape %}

   </div>
  
   <div class="row">
      <p>Posted {{post.pub_date|timesince}} by {{post.user.username}}</p>
    </div>
 </div>

 {% endblock %}
