
{%extends 'instapic/base.html'%} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block content %}
<div class="container">

  <div class="row">
    {% if users%}
      <h2>Found {{ users|length }} of searched term.  {{message}}</h2>
    {% else %}
      <h2> Found 0 users for the search term.  {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if users %}
    {% for user in users %}
      <div class="row">
         <a href="/profile/{{user.id}}"> <p>{{user.username}}</p></a>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}0
